private_key_path: /path/to/key/id_rsa
public_key_path: /path/to/key/id_rsa.pub

ca_public_key_file_path: ca.key.pem
public_key_file_path: vault.key.pem
private_key_file_path: vault.crt.pem
owner: "insight"
organization_name: "insight"
ca_common_name: vault.insight-infra.de
common_name: vault.insight-infra.de
dns_names: vault.insight-infra.de

