private_key_path: /path/to/key/id_rsa
public_key_path: /path/to/key/id_rsa.pub

domain_name: "insight-infra.de"

ca_public_key_file_path: /path/to/key/ca.key.pem
public_key_file_path: /path/to/key/vault.key.pem
private_key_file_path: /path/to/key/vault.crt.pem

owner: "your-os-username"
organization_name: "insight"
ca_common_name: vault.insight-infra.de
common_name: vault.insight-infra.de
dns_names:
  - vault.insight-infra.de
ip_addresses:
  - "127.0.0.1"
validity_period_hours: 1344 # 24*7*8
